{% extends 'base.html' %}

{% load static %}

{% block title %}
    Document
{% endblock title %}
{% block main %}
    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form_account.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock main %}
