{% extends 'base.html' %}

{% load static %}

{% block title %}
    SignUp
{% endblock title %}
{% block main %}
    <main>
        <div class="signup-form">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form_signup.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock main %}
