{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create a new task
{% endblock title %}
{% block main %}
    <main>
        <div class="task-form">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form_task.as_p }}
                <button>Create</button>
            </div>
        </main>
    {% endblock main %}
