{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create
{% endblock title %}
{% block main %}
    <main>
        <div class="project-form">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ create_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock main %}
