{% extends 'base.html' %}

{% load static %}

{% block title %}
    Tasks
{% endblock title %}
{% block main %}
    <main>
        <div  class="project-detail">
            <h1>{{ project_detail.name }}</h1>
            <p>{{ project_detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href = "{% url 'create_task' %}">Crete a new task</a>
            </p>
            {% if project_detail.tasks.count is not 0 %}<!-- one to many relationship acces of all tasks-->
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th><!--Person responsible for doing the work-->
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Project</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in project_detail.tasks.all %}   {% comment %} it accesses Task objects thru Project>>tasks,related_name;one to many  {% endcomment %}
                            <tr> <!-- now is inside the Task object-->
                                <td>{{ item.name }}</td>
                                <td>{{ item.assignee }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>{{item.project.name}}</td><!--many to one access of data-->
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks"</p>
            {% endif %}
        </div>
    </main>
{% endblock main %}
