{% extends 'base.html' %}

{% load static %}

{% block title %}
    Projects
{% endblock title %}
{% block main %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href = "{% url "create_project" %}">Create a new project</a>
            </p>
            {% if project_list.count is 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                        <tr>
                            <td>
                            <a href = "{% url 'show_project' project.id %}">{{ project.name }}<!--uses id to have the specific link for that specific project -->
                            </td>
                            <td>{{ project.tasks.all | length}}</td> <!--accesses all the project's tasks and counts all of them. One to many relationship. Note: it used to use the query function .count, now it uses the filter length-->
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    {% endblock main %}
